In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob, pdb
from astropy.io import fits, ascii
from astropy.table import Table

%matplotlib inline

## Testing Markdown Language

### Title
- ordinary list item

- list item 1
 - indented list item

* ### title list item

## Getting mikaela's aor list

In [4]:
mklaList = ascii.read('../michaela_work/aors')
mklaList

<Table length=1444>
  AORKEY   StarName
   str9     str14
--------- ---------
r40398848  HD195725
r40399104  HIP43760
r40399360  HD043587
r40399616  HIP72875
r40399872  HD028527
r40400128  HD206893
r40400384  HIP30953
r40400640  HIP96113
r40400896  HIP63894
r40401152  HIP18280
      ...       ...
r40765952 HIP111888
r40766208  HIP53486
r40766464 HIP116085
r40766720  HIP78170
r40766976   HIP1837
r40767232  HIP47403
r40767488  HIP11565
r40767744    LHS397
r40768000  HIP38423
r40768256  HIP21988

In [38]:
mklaList['StarName'][np.where(mklaList['AORKEY']=='r40401152')[0]]

<Column name='StarName' dtype='str14' length=1>
HIP18280

In [40]:
mList_df = pd.Series(mklaList['StarName'], mklaList['AORKEY'])
mList_df

AORKEY
r40398848          HD195725
r40399104          HIP43760
r40399360          HD043587
r40399616          HIP72875
r40399872          HD028527
r40400128          HD206893
r40400384          HIP30953
r40400640          HIP96113
r40400896          HIP63894
r40401152          HIP18280
r40401408          HIP29432
r40401664          HD016287
r40401920          HD118972
r40402176          HD069351
r40402432         HIP100356
r40402688          HD131495
r40402944          HIP84223
r40403200          HIP45571
r40403456           HIP6379
r40403712          HD076151
r40403968           LHS1017
r40404224          HD006569
r40404480          HD062613
r40404736           LHS1016
r40404992           HIP5286
r40405248            HR1792
r40405504             HR789
r40405760          HD003823
r40406016          HIP21965
r40406272          HD118962
                  ...
r40760832            HR2558
r40761088          HD192486
r40761344          HIP12300
r40761600          HIP97223
r40761856    GSC04229-01455
r40762112           HIP1910
r40762368          HIP97222
r40762624          HIP55666
r40762880          HD062644
r40763136         HIP110443
r40763392         HIP118261
r40763648          HD028546
r40763904          HD017390
r40764160          HD165185
r40764416          HIP37349
r40764672          HD036435
r40764928          HIP15919
r40765184         HIP103635
r40765440         HIP108195
r40765696          HD079439
r40765952         HIP111888
r40766208          HIP53486
r40766464         HIP116085
r40766720          HIP78170
r40766976           HIP1837
r40767232          HIP47403
r40767488          HIP11565
r40767744            LHS397
r40768000          HIP38423
r40768256          HIP21988
dtype: object

In [43]:
mList_df['r40401152']

'HIP18280'

In [14]:
aorkeys = np.array(mklaList['AORKEY'])
row = Table(aorkeys.T)
ascii.write(row, 'michaela_aorkeys.txt', delimiter = ',', overwrite = False)

In [33]:
stNames = mklaList['StarName']
ascii.write(stNames, 'michaela_StarNames.txt', overwrite = True)

In [35]:
a = glob.glob('/data1/phot_cal/spitzer/michaela/r*')
len(a)

1444

## Getting Taurus Data

In [48]:
taurus = ascii.read('Taurus_votable.vot')
ascii.write(taurus['col1'], 'taurus_aorkeys.txt', delimiter = ',', overwrite = True)